.dynamic,.ht,.httext
{
position:absolute;
font-family:"Bradley Hand ITC";
}

div.dynamic,div.httext
{
top:130px;
left:400px;
}
div.httext
{
visibility:hidden;
}

.next,.textclick
{
position:relative;
}
.next
{
left:85px;
}

img,.textclick
{
cursor:pointer;
}

.textclick
{
left:-70px;
font-family:"Calibri";
color:red;
}

div.ht
{
top:180px;
left:400px;
}
